@import "tailwindcss";

*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

html, body {
  background-color: #060808;
  color: #F7F3EC;
  font-family: 'Space Mono', monospace;
  cursor: crosshair;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::selection { background: #C8A84B; color: #060808; }
.pre-wrap { white-space: pre-wrap; }

/* Hide Clerk dev mode banner globally */
[class*="cl-badge"],[data-localization-key="badge__devMode"],
[class*="cl-devBrowser"],[class*="cl-internal-b3fm6y"] { display: none !important; }
